[submodule "JS/EventListenerExercises"]
  path = JS/EventListenerExercises
  url = https://github.com/wesbos/JavaScript30

[submodule "JS/javascript-exercises"]
  path = JS/javascript-exercises
  url = https://github.com/TheOdinProject/javascript-exercises

[submodule "JS/etch-a-sketch"]
	path = JS/etch-a-sketch
	url = git@github.com:deviweik/etch-a-sketch.git

[submodule "JS/calculator"]
	path = JS/calculator
	url = git@github.com:deviweik/calculator.git

[submodule "Ruby/ruby-exercises"]
	path = Ruby/ruby-exercises
	url = https://github.com/TheOdinProject/ruby-exercises.git

[submodule "CSS/css-exercises"]
	path = CSS/css-exercises
	url = https://github.com/deviweik/css-exercises

[submodule "CSS/first-landing-page"]
	path = CSS/first-landing-page
	url = https://github.com/deviweik/first-landing-page

[submodule "HTML/odin-recipes"]
	path = HTML/odin-recipes
	url = https://github.com/deviweik/odin-recipes
	
[submodule "Ruby/projects/event-manager"]
	path = Ruby/projects/event-manager
	url = https://github.com/deviweik/event-manager

[submodule "Ruby/projects/odin_exercises/custom_enumerable_project"]
	path = Ruby/projects/odin_exercises/custom_enumerable_project
	url = https://github.com/deviweik/custom_enumerable_project