[submodule "EventListenerExercises"]
  path = JS/EventListenerExercises
  url = https://github.com/deviweik/EventListenerExercises

[submodule "javascript-exercises"]
  path = JS/javascript-exercises
  url = https://github.com/deviweik/javascript-exercises

[submodule "etch-a-sketch"]
	path = JS/etch-a-sketch
	url = https://github.com/deviweik/etch-a-sketch

[submodule "calculator"]
	path = JS/calculator
	url = https://github.com/deviweik/calculator

[submodule "css-exercises"]
	path = CSS/css-exercises
	url = https://github.com/deviweik/css-exercises

[submodule "odin-recipes"]
	path = HTML/odin-recipes
	url = https://github.com/deviweik/odin-recipes

[submodule "custom_enumerable_project"]
	path = Ruby/projects/odin_exercises/custom_enumerable_project
	url = https://github.com/deviweik/custom_enumerable_project