/* styles.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Main for Forms */
.formMain {
  max-width: 800px;
  width: 800px;
  margin: 0 auto;
  padding: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Container */
/* .formContainer {
  
} */

/* Form Title */
.formTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

/* Form Subtitle */
.formSubtitle {
  font-size: 18px;
  margin-bottom: 15px;
  color: #555;
}

/* Default Button */
.defaultButton {
  padding: 8px 16px;
  margin: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.defaultButton:hover {
  background-color: #2980b9;
}

/* Default Text Input */
.defaultTextInput {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  color-scheme: light; 

}

/* Default Long Text Input */
.defaultLongTextInput {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
  color-scheme: light; 

}

/* Default Date Input */
.defaultDateInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding doesn't increase width */
  color-scheme: light; 
}


/* Yes or No Component */

.yesOrNoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yesOrNoButton {
  height: 32px;
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 4px;
  border: 1px solid #3498db;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  color: #3498db;
}

.yesOrNoButton:hover {
  background-color: #e6e6e6;
}

.yesOrNoButton.selected {
  background-color: #3498db;
  color: #fff;
  border: none;
}

.yesOrNoButton.selected:hover {
  background-color: #3498db;
}

/* Tile Selector Component */

.tile {
  height: 32px;
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 4px;
  border: 1px solid #3498db;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  color: #3498db;
}

.tile.selected {
  background-color: #3498db;
  color: #fff;
  border: none;
}